<div class="container">
  <h1>Form</h1>
  <form action="/answer" method="get">
    <input type="text" name="question">
    <input type="submit" class="btw btn-primary" value="Search">
  </form>
</div>
